<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Cadastro de CV</title>

	    <!-- Developed by Luiz Alberto -->

	    <%= include default.ejs %>

		<script type="text/javascript">
		$(function() {
			findAll();

			var resposta = '<%=resposta%>';

			if(resposta === 'sucesso-save') {
				$("#modal-aviso-mensagem").html("Currículo salvo com sucesso.");
				$("#modal-aviso").modal();

			} else if(resposta === 'sucesso-save'){
				$("#modal-aviso-mensagem").html("Currículo não salvo.");
				$("#modal-aviso").modal();
			}
		});
		function findAll() {
			$.ajax({
				type : "POST",
				contentType : "application/json; charset=utf-8",
				url: '/curriculo/findAll',
				cache: false
			}).done(function (data) {
				var curriculos = data;
				var html = '';
				for(var i = 0; i < curriculos.length; i++) {
					var curriculo = curriculos[i];
					var row = "<tr>";
					row += "<td>" + curriculo.nome + "</td>"
					row += "<td><span id=\"voto-" + curriculo._id + "\">" + curriculo.votos + "</span></td>"

					//BOTÃO VOTAR
					row += "<td><button onclick=\"$(this).attr('disabled', 'disabled'); votar('" + curriculo._id + "');\" type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>Gostei <span class='glyphicon glyphicon-thumbs-up'></span></button></td>";

					//BOTÃO EDITAR
					row += "<td><button onclick=\"editar('" + curriculo._id + "');\" type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>Editar <span class='glyphicon glyphicon-pencil'></span></button></td>"

					//BOTÃO REMOVER
					row += "<td><button onclick=\"remover('" + curriculo._id + "');\" type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>Remover <span class='glyphicon glyphicon-trash'></span></button></td>"
					/**
					

					row += "<td><button onclick='$(this).attr('disabled', 'disabled');' type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>Remover</button></td>";
					**/
					row += "</tr>";
					html += row;
				} 
				$("#tabela-curriculos").append(html);
			}).fail(function(error) {
				$("#tabela-curriculos").append('Problema ao carregar registros =(');
			});
		}

		function remover(idRemover) {
			$.ajax({
				type : "GET",
				contentType : "application/text; charset=utf-8",
				url: '/curriculo/remover/' + idRemover,
				cache: false
			});

			$("#modal-remover").modal();
		}

		function atualizarPagina() {
			window.location = "/curriculo/listar";
		}

		function votar(idVotar) {
			$.ajax({
				type : "GET",
				contentType : "application/text; charset=utf-8",
				url: '/curriculo/votar/' + idVotar,
				cache: false
			});

			var votos = parseInt($("#voto-" + idVotar).html()) + 1;
			$("#voto-" + idVotar).html(votos);
		}

		function editar(idCurriculo) {
			$.ajax({
				type : "GET",
				contentType : "application/json; charset=utf-8",
				url: '/curriculo/findById/' + idCurriculo,
				cache: false
			}).done(function (data) {
				for (var key in data) { 
					$("#" + key).val(data[key]);
				}
				$("#modal-editar").modal();
			});
		}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Currículos Cadastrados</h1>
				
				<p>
					Aqui você consegue visualizar todos os currículos cadastrados. Aproveite
					para se inspirar e fazer o seu.
				</p>
				<div>
					<table class="table">
				        <thead>
				          <tr>
				            <th>Autor</th>
				            <th>Votos</th>
				            <th>Avaliar</th>
				            <th>Editar</th>
				            <th>Remover</th>
				          </tr>
				        </thead>
				        <tbody id="tabela-curriculos">
				        </tbody>
				      </table>
				</div>
			</div>

		<!-- Modal Aviso-->
		<div class="modal fade" id="modal-aviso" tabindex="-1" role="dialog" aria-labelledby="modal-aviso-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="modal-aviso-label">Aviso</h4>
					</div>
					<div class="modal-body">
						<span id="modal-aviso-mensagem"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Remover -->
		<div class="modal fade" id="modal-remover" tabindex="-1" role="dialog" aria-labelledby="modal-remover-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modal-remover-label">Aviso</h4>
					</div>
					<div class="modal-body">
						Registro removido.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="atualizarPagina();">Continuar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal Editar -->
		<div class="modal fade" id="modal-editar" tabindex="-1" role="dialog" aria-labelledby="modal-editar-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="modal-editar-label">Edição</h4>
					</div>
					<div class="modal-body">
						<form id="form-curriculo" action="/curriculo/editar" contentType="application/json; charset=utf-8" method="POST">
							<div class="control-group">
								<fieldset class="scheduler-border">
									<legend class="scheduler-border">Informações Pessoais</legend>
									<div class="control-group">
										<input type="hidden" id="_id" name="_id">
										<p>
											<label for="nome"><span style="color: red;">*</span>Nome:</label>
											<input id="nome" name="nome" type="text" class="form-control" placeholder="Nome" required>
										</p>
										<p>
											<label for="email"><span style="color: red;">*</span>E-mail:</label>
											<input id="email" name="email" type="text" class="form-control" placeholder="E-mail" required>
										</p>
										<p>
											<label for="altura">Altura:</label>
											<input id="altura" name="altura" class="form-control" placeholder="Altura">
										</p>
										<p>
											<label for="site">Site:</label>
											<input id="site" name="site" type="text" class="form-control" placeholder="Site">
										</p>
										<p>
											<label for="estadoCivil"><span style="color: red;">*</span>Estado Civil:</label>
											<select class="form-control" id="estadoCivil" name="estadoCivil" required>
												<option value="solteiro">Solteiro (a)</option>
												<option value="casado">Casado (a)</option>
												<option value="outros">Não vai na amnésia (a)</option>
											</select>
										</p>
										<p>
											<label for="sexo"><span style="color: red;">*</span>Sexo:</label>
											<select class="form-control" id="sexo" name="sexo" required>
												<option value="masculino">Masculino</option>
												<option value="feminino">Feminino</option>
											</select>
										</p>
									</div>
								</fieldset>
								<fieldset class="scheduler-border">
									<legend class="scheduler-border">Informações de Endereço</legend>
									<div class="control-group">
										<p>
											<label for="cep">CEP:</label>
											<input id="cep" name="cep" type="text" class="form-control" placeholder="Cep">
										</p>
										<p>
											<label for="rua">Rua:</label>
											<input id="rua" name="rua" type="text" class="form-control" placeholder="Rua">
										</p>
									</div>
								</fieldset>
								<fieldset class="scheduler-border">
									<legend class="scheduler-border">Informações de Contato</legend>
									<div class="control-group">
										<p>
											<label for="telefone">Telefone:</label>
											<input id="telefone" name="telefone" type="text" class="form-control" placeholder="Telefone">
										</p>
										<p>
											<label for="celular"><span style="color: red;">*</span>Celular:</label>
											<input id="celular" name="celular" type="text" class="form-control" placeholder="Celular" required>
										</p>
									</div>
								</fieldset>
								<fieldset class="scheduler-border">
									<legend class="scheduler-border">Conhecimentos</legend>
									<div class="control-group">
										<p>
											<label for="conhecimento">O que você sabe fazer?:</label>
											<textarea id="conhecimento" name="conhecimento" class="form-control" rows="10"></textarea>
										</p>
									</div>
								</fieldset>
								<p>
									<button class="btn btn-lg btn-primary" href="#" role="button">Salvar</button>
								</p>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>


		</div>
	<%= include foot.ejs %>
	</body>
</html>