<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Cadastro de CV</title>

		<%= include default.ejs %>

	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<p>
					<h1>Blog</h1>
				</p>
				<p>
					Bem-vindo ao nosso blog! Aqui você encontra informações e dicas para montar seu currículo
					da melhor maneira possível e se destacar no mercado de trabalho.
				</p>
			</div>

			<div class="jumbotron">
				<p>
					<h1>5 dicas de como impressionar com seu CV!</h1>
				</p>
				<p>
					Data: 10/10/2015 - Autor: Alguém Legal
				</p>

				<p>
					<b>
					No concorrido mercado de trabalho é sempre necessário tentar ficar a frente de seus adversários, e hoje
					nós explicaremos como conseguir essa vantagem com seu CV em 5 dicas:
					<b>
				</p>
				<p>
					1 - Dica 1
				</p>
				<p>
					imagem 1
				</p>

				<p>
					2 - Dica 2
				</p>
				<p>
					imagem 2
				</p>

				<p>
					3 - Dica 3
				</p>
				<p>
					imagem 3
				</p>

				<p>
					4 - Dica 4
				</p>
				<p>
					imagem 4
				</p>

				<p>
					5 - Dica 5
				</p>
				<p>
					imagem 5
				</p>
			</div>
			<div class="jumbotron">
				<p>
					<h1>Como destacar sua escolaridade em seu CV</h1>
				</p>
				<p>
					Data: 10/10/2015 - Autor: Alguém Legal
				</p>

				<p>
					<b>
					Hoje, como temos tempo, falaremos em como destacar sua escolaridade, cursos entre outros no seu CV.
					Segue abaixo um texto gigante chato pra caralho:
					<b>
				</p>
				<p>
					<img src="http://i.telegraph.co.uk/multimedia/archive/02357/students_2357903b.jpg">
				</p>
				<p>
					Lorem ipsum dolor sit amet, soluta bonorum et est, ei duo aeterno veritus maluisset, sumo vide soluta has ex. Nam everti ocurreret ei, quem case deterruisset at nec. Vix vidit dolores ut, eos no veritus commune propriae, ex choro dolorem vim. Quo ad nonumy corpora recusabo, ut aeque interesset vituperatoribus duo. Diam officiis sea ei. Ex vivendo complectitur est, at mea eros wisi augue.

					Ex veniam equidem sententiae per, eu utamur accusamus est. At vis recusabo praesent, posse maiorum pri an, eos eu aperiri eleifend. Ei sed primis maiestatis. Error noster percipit ad vim, pro ea nihil sanctus. Sea in inani aliquip, discere perpetua interpretaris cu mel.

					No ius nobis laboramus constituam, vim sonet facete indoctum ad, vim ei scaevola laboramus. Rebum voluptua voluptaria sit ne, duo eu cetero appareat, mollis epicuri eum et. Te eum etiam platonem corrumpit. Vix at probo mandamus. Mea ei integre reprehendunt, id veniam utinam scribentur pro.

					Et quis tation periculis sea, consul persius est ei. An epicurei laboramus qui, pertinax argumentum neglegentur no vix. Ne cum quis quidam senserit, mnesarchum incorrupte duo ex. Sed molestiae prodesset ex. Reformidans reprehendunt ad cum. Dicat eirmod facilisi eum eu.

					Esse dolore facilisis an quo, diam accusamus per eu. Diam augue dicant pri cu, latine conceptam assueverit sed te, et lorem nulla vix. Ius cu nibh constituam. Discere recteque vis ex. Pri quas iracundia at, errem aliquip in vix.
				</p>
			</div>
			<div class="jumbotron">
				<p>
					<h1>Mostre seu potêncial para o mercado de trabalho!</h1>
				</p>
				<p>
					Data: 10/10/2015 - Autor: Alguém Legal
				</p>

				<p>
					<b>
					Como mostrar seu potência no mercado de trabalho?
					Redes sociais como LinkedIn e Facebook podem te ajudar!
										<b>
				</p>
				<p>
					<img src="http://revistapegn.globo.com/Revista/Pegn/foto/0,,69825197,00.jpg">
				</p>
				<p>
					Lorem ipsum dolor sit amet, vix ferri viris primis id. Nusquam intellegat usu ea. Ut modus putant adipisci vis, vim eu nullam timeam copiosae, no mei vivendo omittantur. Iudico sensibus cum eu, nonumy dolorem at sit, fabellas theophrastus vix no.

					 Cum omnesque maiestatis ei, ne mel mnesarchum vituperata neglegentur, mei case saperet ne. His deserunt interesset et, alia dictas no vel, te posse nonumes torquatos mei. Ei erat primis referrentur vel. Adhuc etiam debet no vix. Has laudem graecis nominavi te. Clita iudico ut vis, in mel quas mentitum praesent.

					 Ea cum unum luptatum. His illud veritus referrentur ex, error luptatum usu an. Sed in laoreet facilis dissentias. Facilis consequat no qui, per delicata incorrupte deterruisset at, malis dolorum postulant pro ne. Ut vero periculis sed, option aliquid an duo.

					 Ut mundi deserunt eam. Homero ignota sea in. Cum numquam theophrastus ut, ei fugit sonet gubergren sit, usu habeo altera scripserit ne. Vel cu sale percipit evertitur. Eu eam sale possim intellegebat. Pro ut erant delectus, ius ne habemus omittantur, decore habemus vim ex. Illud integre eloquentiam an vix, ex has malis inimicus.

					 Sit te definiebas scriptorem, ea quidam diceret consetetur vis, pri ex nusquam detraxit hendrerit. Cu vivendum scripserit quo. Habeo nobis graecis at sit, mea id omittantur neglegentur theophrastus, malis nostrud atomorum duo ne. At per oratio vivendo pericula, pro ex illud utroque mnesarchum, in vis nihil ocurreret. Pri laudem molestie cu, latine lucilius ullamcorper duo cu.

					 Est eu illud labore delectus, ius vero latine et. Et eirmod vocent habemus est, iriure recusabo quo ad. Nulla detraxit ullamcorper no pri. Et nam tation splendide, ne pro aperiri mnesarchum, nominavi gubergren in pri. Mei porro erant feugiat ei, omnes impetus et his. Ea eam eius tincidunt.

					 Ex eos noluisse copiosae omittantur, ne paulo sapientem nec. Per meis habemus evertitur an, id aperiri labores consequat has. Cum hinc prima tation at. No mea porro numquam saperet.

					 Eu evertitur conceptam mea, sed suas unum at. Duo ne modo paulo ocurreret, quis molestiae inciderint no pro. Vis veri reprimique ne, vel dicit graece dissentiunt in, ius ubique doctus voluptua ne. Adhuc voluptua suscipiantur ei per, elitr epicurei mediocritatem pri eu. Harum virtute accusam id nam.

					 Dico animal ad sea. Ea vim viris noluisse, numquam minimum ei nec. Vim ne propriae sensibus, prompta virtute ea usu. Eam dico alia scripserit ea, duo dicunt delectus ei. Mei id officiis percipit, per id minim homero atomorum, erat impetus accumsan his ex.

					 Duo elitr doming complectitur id, in eos vidit semper quaerendum. Eu euismod tacimates conceptam ius, epicuri voluptaria sea ei, cum id case debet posidonium. Ea his legendos lobortis inimicus, per no detracto apeirian. Eam nulla albucius quaerendum ut, laoreet accusamus ei eos. Et quidam voluptaria sed.

					 Ipsum habemus te pro. Soluta vidisse in eos. Vis cu diam disputando dissentiet, probo quidam nostrud eam ad, vel ex facilisis argumentum. Stet accusata sea et, ferri probatus an nam, animal incorrupte reformidans nec te. Ea virtute definiebas vix, quis probo omnium ex has.

					 Dolores detracto consetetur sea.
				</p>
    		</div>
    		<div class="jumbotron">
				<p>
					<h1>Bill Gates!</h1>
				</p>
				<p>
					Data: 10/10/2015 - Autor: Alguém Legal
				</p>

				<p>
					<b>
					Assista a palestra de Bill Gates em Harvard e veja como surpreender os seus futuros
					chefes em uma entrevista:
										<b>
				</p>
				<p>
					<iframe width="420" height="315" src="//www.youtube.com/embed/ZZ5LpwO-An4" frameborder="0" allowfullscreen></iframe>
				</p>
			</div>
    	</div>
    	<%= include foot.ejs %>
	</body>
</html>