<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Cadastro de CV</title>

		<%= include default.ejs %>

	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Bem-vindo</h1>
				<p>
					Utilize nosso sistema para cadastrar seu currículo, criar seu perfil e se espelhar em outros
					currículos de sucesso!
				</p>
				<p>
					<a class="btn btn-lg btn-primary" href="/curriculo" role="button">Começar »</a>
				</p>
			</div>
    	</div>
    	<%= include foot.ejs %>
	</body>
</html>