<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Cadastro de CV</title>

		<%= include default.ejs %>

	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<p>
					<h1>TO DO</h1>
				</p>
				<p>
					- Adicionar foto de fundo (Luiz)
				</p>
				<p>
					- aumentar opacidade na imagem (deixar mais transparente) como se não tivesse com foco. (Gabriel)
				</p>
			</div>
    	</div>
    	<%= include foot.ejs %>
	</body>
</html>