<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">

      <!-- ESTILOS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

  </head>
  <body>
   
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Desenvolvido por Luiz Alberto e Ana Carolina para a disciplina de Programação Web.</p>
      </div>
    </footer>    
  </body>
</html>